In [1]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df1 = pd.read_csv('/content/drive/MyDrive/JU PROJ/EXEC_Tesla_stock_data_Vader.csv', index_col = False)
df1

,Date,Close,negative,neutral,positive,Open,High,Low,Volume
0,2017-01-03,43.397999,0.050500,0.886250,0.063125,42.972000,44.066002,42.192001,29616500
1,2017-01-04,45.397999,0.074762,0.850238,0.075048,42.950001,45.599998,42.862000,56067500
2,2017-01-05,45.349998,0.000000,0.785000,0.215000,45.284000,45.495998,44.389999,29558500
3,2017-01-06,45.801998,NaN,NaN,NaN,45.386002,46.062000,45.090000,27639500
4,2017-01-09,46.256001,NaN,NaN,NaN,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...,...
1341,2022-05-02,902.940002,NaN,NaN,NaN,860.770020,906.359985,848.030029,25260500
1342,2022-05-03,909.250000,NaN,NaN,NaN,903.179993,924.080017,888.590027,21236500
1343,2022-05-04,952.619995,NaN,NaN,NaN,903.940002,955.500000,885.280029,27214600
1344,2022-05-05,873.280029,0.035167,0.883167,0.081667,939.020020,945.599976,857.700012,30839700
1345,2022-05-06,865.650024,NaN,NaN,NaN,887.000000,888.000000,843.109985,24301000

In [6]:
df2 = pd.read_csv('/content/drive/MyDrive/JU PROJ/GENERAL_Tesla_stock_data_Vader.csv', index_col = False)
df2

,Date,Close,negative,neutral,positive,Open,High,Low,Volume
0,2017-01-03,43.397999,0.181000,0.763500,0.055500,42.972000,44.066002,42.192001,29616500
1,2017-01-04,45.397999,0.009286,0.897286,0.093429,42.950001,45.599998,42.862000,56067500
2,2017-01-05,45.349998,0.000000,0.898000,0.102000,45.284000,45.495998,44.389999,29558500
3,2017-01-06,45.801998,0.072000,0.928000,0.000000,45.386002,46.062000,45.090000,27639500
4,2017-01-09,46.256001,0.000000,0.815000,0.185000,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...,...
1341,2022-05-02,902.940002,0.045250,0.844950,0.109800,860.770020,906.359985,848.030029,25260500
1342,2022-05-03,909.250000,0.024722,0.908667,0.066611,903.179993,924.080017,888.590027,21236500
1343,2022-05-04,952.619995,0.044100,0.871200,0.084650,903.940002,955.500000,885.280029,27214600
1344,2022-05-05,873.280029,0.040071,0.894964,0.064929,939.020020,945.599976,857.700012,30839700
1345,2022-05-06,865.650024,0.017500,0.930214,0.052286,887.000000,888.000000,843.109985,24301000

In [7]:
# Set date as Index
df1 = df1.set_index('Date')
df1 = df1.sort_index()
df2 = df2.set_index('Date')
df2 = df2.sort_index()
df1

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-03,43.397999,0.050500,0.886250,0.063125,42.972000,44.066002,42.192001,29616500
2017-01-04,45.397999,0.074762,0.850238,0.075048,42.950001,45.599998,42.862000,56067500
2017-01-05,45.349998,0.000000,0.785000,0.215000,45.284000,45.495998,44.389999,29558500
2017-01-06,45.801998,NaN,NaN,NaN,45.386002,46.062000,45.090000,27639500
2017-01-09,46.256001,NaN,NaN,NaN,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,NaN,NaN,NaN,860.770020,906.359985,848.030029,25260500
2022-05-03,909.250000,NaN,NaN,NaN,903.179993,924.080017,888.590027,21236500
2022-05-04,952.619995,NaN,NaN,NaN,903.940002,955.500000,885.280029,27214600
2022-05-05,873.280029,0.035167,0.883167,0.081667,939.020020,945.599976,857.700012,30839700
2022-05-06,865.650024,NaN,NaN,NaN,887.000000,888.000000,843.109985,24301000

In [8]:
df2

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-03,43.397999,0.181000,0.763500,0.055500,42.972000,44.066002,42.192001,29616500
2017-01-04,45.397999,0.009286,0.897286,0.093429,42.950001,45.599998,42.862000,56067500
2017-01-05,45.349998,0.000000,0.898000,0.102000,45.284000,45.495998,44.389999,29558500
2017-01-06,45.801998,0.072000,0.928000,0.000000,45.386002,46.062000,45.090000,27639500
2017-01-09,46.256001,0.000000,0.815000,0.185000,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,0.045250,0.844950,0.109800,860.770020,906.359985,848.030029,25260500
2022-05-03,909.250000,0.024722,0.908667,0.066611,903.179993,924.080017,888.590027,21236500
2022-05-04,952.619995,0.044100,0.871200,0.084650,903.940002,955.500000,885.280029,27214600
2022-05-05,873.280029,0.040071,0.894964,0.064929,939.020020,945.599976,857.700012,30839700
2022-05-06,865.650024,0.017500,0.930214,0.052286,887.000000,888.000000,843.109985,24301000

In [11]:
df3 = pd.concat((df1, df2))
df3 = df3.groupby(df3.index).mean()
df3

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-03,43.397999,0.115750,0.824875,0.059312,42.972000,44.066002,42.192001,29616500.0
2017-01-04,45.397999,0.042024,0.873762,0.084238,42.950001,45.599998,42.862000,56067500.0
2017-01-05,45.349998,0.000000,0.841500,0.158500,45.284000,45.495998,44.389999,29558500.0
2017-01-06,45.801998,0.072000,0.928000,0.000000,45.386002,46.062000,45.090000,27639500.0
2017-01-09,46.256001,0.000000,0.815000,0.185000,45.793999,46.383999,45.599998,19897500.0
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,0.045250,0.844950,0.109800,860.770020,906.359985,848.030029,25260500.0
2022-05-03,909.250000,0.024722,0.908667,0.066611,903.179993,924.080017,888.590027,21236500.0
2022-05-04,952.619995,0.044100,0.871200,0.084650,903.940002,955.500000,885.280029,27214600.0
2022-05-05,873.280029,0.037619,0.889065,0.073298,939.020020,945.599976,857.700012,30839700.0
2022-05-06,865.650024,0.017500,0.930214,0.052286,887.000000,888.000000,843.109985,24301000.0

In [12]:
df3.to_csv('/content/drive/MyDrive/JU PROJ/Vader/Total_Tesla_stock_data.csv')